<%= title jt(:login) %>

<%= form_tag sessions_path do %>
  <li>
    <%= label_tag :login, t(:login) %>
    <%= text_field_tag :login %>
  </li>
  <li>
    <%= label_tag :password, t(:password) %>
    <%= text_field_tag :password %>
  </li>
  <%= submit_tag t(:login) %>
<% end %>
