<div class="event">
  <% unless event.pictures.empty? %>
    <div id="image"><%= image_tag event.main_image_url(:thumb) %></div>
  <% end %>
  <div id="title" class="<%= event.pictures.empty? ? 'center' : '' %>"><%= event.title %></div>
  <div id="date" class="time <%= event.pictures.empty? ? 'center' : '' %>">
    <%= event.when %>
  </div>
  <div id="content">
    <%= event.content %>
  </div>
  <div id="actions" class="<%= event.pictures.empty? ? 'center' : '' %>">
    <%= link_to jt(:edit), edit_event_path(event) if can? :edit, event %>
    <%= link_to jt(:del), event, confirm:sure?, :method => :delete if can? :destroy, event %>
  </div>
  <div class="clear"></div>
</div>
