<% present event do |presenter| %>
<div class="event">
  <div id="title">
    <%= event.title %>
  </div>
  <div id="date" class="time">
    <%= event.when %>
  </div>
  <div id="content">
    <%= event.content %>
  </div>
  <% unless event.pictures.empty? %>
    <div id="thumbs">
      <% event.pictures.each do |picture| %>
        <%= image_tag picture.image_url(:thumb) %>
      <% end %>
    </div>
  <% end %>
  <div id="actions">
    <%= presenter.edit_action %>
    <%= presenter.destroy_action %>
  </div>
  <div class="clear"></div>
</div>
<% end %>
