<!DOCTYPE html>
<html>
<head>
  <title>Imizuki <%= yield :title %></title>
<!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script> -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "stylesheets/iphone/landscape", :media => "only screen and (max-device-width: 480px) and (orientation:landscape)" %>
  <%# stylesheet_link_tag "iphone/landscape", :media => "only screen and (max-width: 900px)" %>
  <%= stylesheet_link_tag "stylesheets/iphone/portrait", :media => "only screen and (max-device-width: 480px) and (orientation:portrait)" %>
  <%# stylesheet_link_tag "iphone/portrait", :media => "only screen and (max-width: 480px)" %>
  <%# stylesheet_link_tag "iphone/portrait" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
</head>
<body>

<div id="contents_container">
  <div id="contents">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
    <% end %>


    <div id="site_nav_container">
      <%= render 'layouts/user_nav' %>
      <%= render 'layouts/site_nav' %>
    </div>
    <div id="main_container">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

</body>
</html>
